* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: preserve-3d;
}

.btn::before {
    content: attr(title);
    position: absolute;
    padding: 0.93rem 2.5rem;
    background: #fff;
    color: #000;
    border: 3px solid #000;
    transition: .5s;
    transform-origin: right;
    transform: translateX(-100%) rotateY(90deg);
}

.btn::after {
    content: attr(title);
    position: absolute;
    padding: 0.93rem 2.5rem;
    background: #000;
    color: #fff;
    border: 3px solid #000;
    transition: .5s;
    transform-origin: left;
    transform: translateX(0%) rotateY(0deg);
}

.btn:hover::before {
    transform: translateX(0%) rotateY(0deg);
}

.btn:hover::after {
    transform: translateX(100%) rotateY(90deg);
}