* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1ff36;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.display-text {
    position: relative;
    width: 6.25rem;
    height: 3.12rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.12rem;
    color: #262626;
}

.display-text::before {
    content: '';
    position: absolute;
    top: -4%;
    left: -2%;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.display-text:hover::before {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #262626;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.display-text::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.display-text:hover::after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
}