* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social {
    display: flex;
    overflow: hidden;
}

.social li {
    display: flex;
    margin: 0 5px;
    list-style-type: none;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.social li a {
    text-decoration: none;
    width: inherit;
    height: inherit;
    position: relative;
    transition: .5s;
}

.social li a i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 2rem;
    transition: .5s;
    color: #777;
}

.social li a i:nth-child(2){
    top: 100%;
}

.social li:hover a i:nth-child(1) {
    transform: translateY(-100%);
}

.social li:hover a i:nth-child(2) {
    transform: translateY(-100%);
    color: #fff;
}

.social li:hover:nth-child(1) a {
    background-color: #3b5998;
}

.social li:hover:nth-child(2) a {
    background-color: #ff3333;
}

.social li:hover:nth-child(3) a {
    background-color: #833ab4;
}

.social li:hover:nth-child(4) a {
    background-color: #4875b4;
}

.social li:hover:nth-child(5) a {
    background-color: #333;
}