* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*btn: default*/
.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #d1d0d0;
    box-shadow: 0 8px rgba(0, 0, 0, .4);
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: translateY(4px);
    filter: brightness(110%);
    box-shadow: 0 3px;
}

/*btn_primary*/
.btn_primary {
    background-color: #D6F2F6;
    box-shadow: 0 8px #9ecdd4;
}

.btn_primary:active {
    box-shadow: 0 3px #9ecdd4;
}

/*btn_secondary*/
.btn_secondary {
    background-color: #9491E0;
    box-shadow: 0 8px #6968B6;
}

.btn_secondary:active {
    box-shadow: 0 3px #6968B6;
}

/*custom*/
.custom {
    background-color: #FEDF46;
    box-shadow: 0 8px #E8B50A;
}

.custom:active {
    box-shadow: 0 3px #E8B50A;
}