* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.monitor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width: 350px;
    height: 230px;
    position: relative;
}

.display {
    position: relative;
    width: 100%;
    height: 86.96%;
    background: #000;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.overlay {
    position: absolute;
    left: -10%;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, .3);
    transform: skew(-15deg);
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13.4%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #d8d8d8;
}

.monitor-logo {
    width: 17px;
    height: 19px;
}

.stand {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 50px solid #bdbdbd;
    width: 80px;
}

.base {
    width: 140px;
    height: 15px;
    background: #bdbdbd;
}