* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-background: #262626;
    --home-text: #e5e7eb;
}

.home, .sec-2 {
    width: 100%;
    height: 500px;
    position: relative;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--home-background);
}

.sec-2 {
    background: #ffeb3b;
}

.skewed-div-1 {
    position: absolute;
    background: var(--home-background);
    width: 50%;
    height: 100px;
    bottom: -48px;
    left: 0;
    transform: skewY(8deg);
    z-index: 1;
}

.skewed-div-2 {
    position: absolute;
    background: var(--home-background);
    width: 50%;
    height: 100px;
    bottom: -48px;
    right: 0;
    transform: skewY(-8deg);
    z-index: 1;
}

.home h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: var(--home-text);
}

.home p {
    margin-top: 16px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: var(--home-text);
}

.sec-2 h1, .sec-2 p {
    position: relative;
    text-align: center;
    top: 30%;
}