* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 60px;
    z-index: 1;
    background: transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-03::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    left: -3px;
    z-index: -1;
    background: #20caff;
    mix-blend-mode: multiply;
    opacity: .7;
    transform-origin: top;
    transition: .2s;
}

.btn-03::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    background: #ff0606;
    mix-blend-mode: multiply;
    opacity: .7;
    transform-origin: bottom;
    transition: .2s;
}

.btn-03:hover::before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(80deg);
}

.btn-03:hover::after {
    bottom: -6px;
    right: 0;
    transform: perspective(1000px) rotateX(-80deg);
}

.btn-03:hover {
    color: #262626;
}