body {
    background: #292929;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box {
    perspective: 500px;
    margin: 15px;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    transform-style: preserve-3d;
    transition: .5s ease;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.facebook {
    background: #1877f2;
}

.youtube {
    background: #ff0000;
}

.instagram {
    background: #c32aa3;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    color: #fff;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


.card-box:hover .card {
    transform: rotateY(180deg);
}

.card-back{
    transform: rotateY(180deg);
}

