* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dot {
    width: 10px;
    height: 10px;
    background: #f00;
    border-radius: 50%;
}

.small {
    padding: 10px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #262626;
    border-left: 2px solid #262626;
    border-radius: 50%;
    animation: small 1s linear infinite;
}

.medium {
    padding: 10px;
    border-top: 2px solid #262626;
    border-right: 2px solid #262626;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50%;
    animation: medium 1s linear infinite;
}

.large {
    padding: 10px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #262626;
    border-left: 2px solid #262626;
    border-radius: 50%;
    animation: large 1s linear infinite;
}

.loader-text {
    margin-top: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #262626;
}

@keyframes small {
    0% {
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes medium {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes large {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}