* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b0ff30;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3d {
    position: relative;
    width: 31rem;
    height: 18rem;
    background: #fff;
    padding: 1.2rem;
    border: 2px solid #262626;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transform: skewY(-5deg);
    transition: .5s;
    box-shadow: -1px -1px 0 #444,
        -2px -2px 0 #444,
        -3px -3px 0 #444,
        -4px -4px 0 #444,
        -5px -5px 0 #444,
        -6px -6px 0 #444;
}

.box-3d:hover {
    transform: skewY(5deg);
    box-shadow: 1px -1px 0 #444,
        2px -2px 0 #444,
        3px -3px 0 #444,
        4px -4px 0 #444,
        5px -5px 0 #444,
        6px -6px 0 #444;
}

.box-3d p {
    color: #262626;
}

.box-3d h1 {
    padding-top: 0.6rem;
}

.box-3d::before {
    position: absolute;
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    background: #fff;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom: 2px solid #262626;
    border-right: 2px solid #262626;
    z-index: -1;
}

.box-3d::after {
    position: absolute;
    content: '';
    width: 6.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #000;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(5px);
}