* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    background: #4e004e;
}

.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11rem;
    text-transform: uppercase;
    background-image: url(pattern.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 2.5em;
    }
}